*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "title title"
    "header header"
    "sidebar sidebar"
    "content content"
    "footer footer";
}


.title{
    grid-area: title;
    padding: 10px;
    background-color: rgb(200, 255, 223);
}
   


.header{
    grid-area: header;
    background-color: transparent;
    background-color: rgb(200, 255, 223);
}


.sidebar{
    grid-area: sidebar;
    padding: 20px;
    background-color: rgb(200, 255, 223);
    
}
   




.content{
    grid-area: content;
    font-size: 14px;
    background-color: rgb(235, 254, 255);
    
}

.footer{
    grid-area: footer;
    padding: 10px;
    text-align: center;
    background-color: rgb(200, 255, 223);
}

@media screen and (min-width: 736px)
{
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". title title ."
    ". header header ."
    ". content sidebar ."
    ". content empty ."
    ". content empty ."
    ". content empty ."
    ". content empty ."
    ". content empty ."
    ". footer footer ."; 
  } 
  .sidebar{
    grid-row: 500px;
    grid-row: 3 / 4;
    grid-area: sidebar;
    
  }
  
}

article{
    margin: 30px;
}

h1{
    color: rgb(204, 163, 241);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}

ul {
    list-style-type: none;
}

li{
    padding: 2px;
}

.empty{
    background-color: rgb(235, 254, 255);
    grid-area: empty;
    grid-row: 4 / 9;
    
}


