*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "title title"
    "header header"
    "sidebar sidebar"
    "content content"
    "footer footer";
}

.wrapper div:nth-child(even) {
    background-color: rgb(235, 254, 255);
}

.wrapper div:nth-child(odd) {
    background-color: rgb(200, 255, 223);
}

.title{
    grid-area: title;
    padding: 20px;
}

.header{
    grid-area: header;
    background-color: transparent;
    
}

.sidebar{
    grid-area: sidebar;
    padding: 20px;
}

.content{
    grid-area: content;
    font-size: 14px;
    
}

.footer{
    grid-area: footer;
    padding: 10px;
}

@media screen and (min-width: 736px)
{
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". title title ."
    ". header header ."
    ". content sidebar ."
    ". footer footer ."; 
  } 
}

article{
    margin: 30px;
}

h1{
    color: rgb(156, 79, 228);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}

ul {
    list-style-type: none;
}

li{
    padding: 2px;
}

.navbar> a{
    padding: 10px;
    
}


